@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
   font-family: "Comic Neue", sans-serif;
   margin :0;
}

* {
   box-sizing: border-box;
}

header{
   display: inline;
}

.judul {
   font-size: 20px;
   height: 150px;
   background-color: #02275d;
}

.logo {
   width: 550px;
   display: block;
   padding-top :10px;
   max-width:650px;
   margin:0 auto ;
}

.container{
   width: 1170px;
   margin: 0 auto;
}

main .container{
   display: flex;
   color:#000;
}

.clear{
   clear:left;

}

h2 {
   color: #1e3799
}

h3 {
   color: #1e3799
}

footer {
   width:100%;
   padding: 0 20px;
   color: white;
   background-color: #02275d;
   text-align: center;
   font-weight: bold;
   position: fixed;
   bottom: 0;
   z-index: 10;
   height:30px;
}

nav {
   background-color: #0b5085;
   padding: 5px 5px 7px 5px;
   position: sticky;
   top: 0;
}

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
   padding: 5px;
   margin:0 2px;
   display: inline-block;
   border-radius: 4px;
   margin-right: 20px;
   box-shadow: 4px 2px 0 0px #000000;
   background-color: #043153;
}

nav .sejarah{
   margin-left: 10%;
}

nav a:hover {
   font-weight: bold;
   transition: bottom 0.5s;
   box-shadow: 4px 6px 1px 0px #000000;
   position: relative;
   bottom:4px;
}

nav a:active {
   box-shadow: 0 0 0 0 #000000;
   transition: top 0.5s left 0.5s;
   position: relative;
   top:2px;
   left:4px;
}


.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   background-color: #fff;
}

main {
   background-color: antiquewhite;
   padding-bottom: 50px;
}

#content {
   float: left;
   width: 70%;
}

.list-profile{
   width: 30%;
}
.list-profile li{
   
   list-style: none;
} 

.list-profile h1{
   text-align: center;
   margin-left: 40px;
   background-color: rgb(39, 117, 148);
   border-radius: 5px;
   color: white;
}

th {
   text-align: left;
}

.profile h3 {
   text-align: center;
}
head img {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    object-fit: contain;
}
.profile .head {
   text-align: center;
}

.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: contain;
   object-position: center;
}

.profile img {
   height: 200px;
}

main p{
   text-align : justify; 
}
